<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inregistrare Vehicul</title>
</head>
<body>
    <h2>Inregistrare Vehicul</h2>
<form action="register" method="post">
    <pre>
        Numar Inmatriculare: <input type="text" name="numarInmatriculare">
        Marca: <input type="text" name="marca">
        Tip: <input type="text" name="tip">
        Model: <input type="text" name="model">
        Dotari: <input type="text" name="dotari">
        Utilaj: <input type="text" name="utilaj">
        Data PIF: <input type="date" name="dataPif">
        Serie Sasiu: <input type="text" name="serieSasiu">
        Nr. Mijloc Fix - SAP: <input type="number" name="nrMijlocFixSap">
        Stare: <select name="stare">
                <option value="ACTIV">ACTIV</option>
                <option value="INACTIV">INACTIV</option>
    </select>
        Locatie Judet: <input type="text" name="locatieJudet">
        Locatie Oras: <input type="text" name="locatieOras">
        Directia: <input type="text" name="directia">
        Departamentul: <input type="text" name="departamentul">
        Formatia de lucru: <input type="text" name="formatieDeLucru">
        Utilizator titular: <input type="text" name="utilizatorTitular">
        Marca utilizator: <input type="text" name="marcaUtilizator">
        Tip auto cf Tipologie RAR: <input type="text" name="tipAutoCfTipologieRar">
        Tip auto ptr Rapoarte la Mediu: <input type="text" name="tipAutoPtrRapoareLaMediu">
        Tip auto ptr Rapoarte la ANRE: <input type="text" name="tipAutoPtrRapoarteLaAnre">
        Tip auto dupa mod utilizare ptr RAPORTARE CALCUL TARIFE: <input type="text" name="tipAutoDupaModUtilizarePtrRapoarteCalculTarife">

        Tip combustibil ptr RAPORTARE la AUDIT ENERGETIC: <input type="text" name="tipCombustibilPtrRapoareLaAuditEnergetic">
        Data urmatoarei ITP: <input type="date" name="dataUrmatoareiItp">
        Valabilitate Rovigneta: <input type="date" name="valabilitateRovigneta">
        Valabilitate RCA: <input type="date" name="valabilitateRca">
        Valabilitate CASCO <input type="date" name="valabilitateCasco">
        Serie CIV: <input type="text" name="serieCiv">
        Serie Certificat Inmatriculare: <input type="text" name="serieCertificatInmatriculare">






    <input type="submit" value="Adauga">

    </pre>



</form>
</body>
</html>